header{
    background-color: black;
    margin: -8px;
    font-family: "Malgun Gothic";
}

#slide, #slide>a{
    display: none;
}

.logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav>a{
    padding: 10px 0px;
    margin: 0px 10px;
    font-size: 15px;
    min-width: 100px;
    width: 120px;
    color: gray;
    text-decoration: none;
    text-align: center;    
    border: 1px solid black;
    transition: all 0.75s ease;
}

nav>a:hover{
    border: 1px solid white;
    color: white;
}

#join{
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 20px;
    margin-left: 50px;
    margin-right: -40px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

#join:hover{
    border-radius: 10px;
    box-shadow: 0 0 15px white inset;
}

#btn_nav{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    display: none;
}

#btn_nav:hover{
    box-shadow: 0 0 10px 1px white;
}