<nav>
    <a href="" [routerLink]="['home']" >Home</a>
    <a href="" [routerLink]="['hotels']">Hotels</a>
    <!-- <a href="" [routerLink]="['hotels']">Restaurants</a>
    <a href="" [routerLink]="['tours']">Tours</a>
    <a href="" [routerLink]="['destinations']">Destinations</a>
    <a href="" [routerLink]="['activities']">Activities</a>
    <a href="" [routerLink]="['contact']">Contact</a>
    <a href="" [routerLink]="['registration']">login / signup</a> -->
</nav>
<router-outlet></router-outlet>